header {
    grid-area: header;
    background: $header-bg-color;
    text-shadow: $header-text-shadow;
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    * {
        font-family: $font-family--header;
        user-select: none;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: $header-height;
        .logo {
            color: $logo-color;
            text-shadow: $logo-text-shadow;
            text-transform: uppercase;
            h1 {
                font-size: 1.25rem;
                letter-spacing: 2px;
            }
            p {
                font-size: 0.625rem;
                letter-spacing: 1px;
            }
        }
        .nav-list {
            display: flex;
            list-style: none;
            li {
                margin-left: 1.25em;
            }
            a {
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                color: $header-color;
                padding: 0.75em 0;
                font-size: 1rem;
                &:hover {
                    color: lighten($header-color, 10%);
                    border-bottom: 5px solid $header-color;
                }
                &.active {
                    color: lighten($header-color, 10%);
                    pointer-events: none;
                    border-bottom: 5px solid $header-color;
                }
            }
        }
        .burger {
            display: none;
            background: $burger-bg-color;
            cursor: pointer;
            div {
               background: $burger-color;
               width: 35px;
               height: 5px;
               margin: 7px;
               transition: all 0.1s ease;
           }
        }
    }
}

@media screen and (max-width: 970px) {
    body {
        overflow-x: hidden;
    }
    header nav {
        .nav-list {
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 0;
            top: $header-height;
            background: $header-bg-color;
            transform: translateX(100%);
            min-width: 25%;
            li {
                margin: 1.5em 3em;
                text-align: center;
                opacity: 0;
                // animation: js-nav-links-appear 0.5s ease forwards 1s;
            }
            a {
                font-size: 1.125rem;
            }
        }
        .burger {
            display: block;
        }

        // JavaScript-only classes:
        .js-burger-is-active {
            .line1 {transform: rotate(-45deg) translate(-8px, 9px);}
            .line2 {opacity: 0;}
            .line3 {transform: rotate(45deg) translate(-8px, -9px);}
        }
        .js-nav-list-is-active {
            transform: translateX(0%);
            transition: transform 0.25s ease-in;
        }
        @keyframes js-nav-links-appear {
            from {
                opacity: 0;
                transform: translateX(50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
}