@import 'settings/config';
@import './header';
@import './hero';
@import './main';
@import './footer';


// GENERAL:
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family--general;
    &::selection {
        background: yellow;
        color: black;
    }
}

.container {
    width: 90%;
    max-width: $max-page-width;
    margin: auto;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: $header-height auto 1fr auto minmax(40vh, auto);
    grid-template-areas: "header"
                         "hero"
                         "main"
                         "ajanlasok"
                         "footer";
}

p {
    text-align: justify;
    text-justify: auto;
}

@media screen and (max-width: 630px) {
    html {
        font-size: 85%;
    }
}
