@charset "UTF-8";
header {
  background: rgba(255, 255, 255, 0.95);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

header * {
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

header nav #logo {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  height: 100%;
}

header nav #logo h1 a {
  text-decoration: none;
  vertical-align: middle;
  color: #555555;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
}

header nav ul {
  list-style: none;
}

header nav #nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav #nav-list .sub-list-nested {
  display: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

header nav #nav-list > li {
  margin-left: 1.25em;
}

header nav #nav-list > li:hover .sub-list-nested {
  display: block;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  -webkit-animation: fadein 0.4s;
          animation: fadein 0.4s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header nav #nav-list > li:hover .sub-list-nested li {
  margin: 1.5em;
}

header nav #nav-list > li:hover .sub-list-nested a {
  padding: 0;
}

header nav #nav-list .nav-item-not-clickable {
  pointer-events: none;
}

header nav #nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555555;
  padding: 0.75em 0;
  font-size: 0.9375rem;
}

header nav #nav-list a:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #555555;
}

header nav #nav-list a.active {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #555555;
  pointer-events: none;
}

header nav #burger {
  display: none;
  background: #555555;
  border-radius: 0.25em;
  cursor: pointer;
}

header nav #burger div {
  background: #e2e2e2;
  width: 1.75em;
  height: 0.25em;
  margin: 0.375em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media screen and (max-width: 1150px) {
  header nav #logo h1 a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  body {
    overflow-x: hidden;
  }
  header nav #burger {
    display: block;
  }
  header nav ul {
    text-align: center;
  }
  header nav #nav-list {
    background: white;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    min-width: 20em;
    position: absolute;
    top: 60px;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  header nav #nav-list li {
    margin: 0.75em 1.5em;
  }
  header nav #nav-list a {
    font-size: 1rem;
    padding: 0;
  }
  header nav #nav-list > li > a {
    letter-spacing: 4px;
    font-weight: 600;
  }
  header nav #nav-list > li:hover .sub-list-nested {
    position: relative;
    -webkit-animation: none;
            animation: none;
  }
  header nav #nav-list > li:hover .sub-list-nested li {
    margin: 0.75em 1.5em;
  }
  header nav #nav-list .sub-list-nested {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header nav #nav-list .sub-list-nested a {
    text-transform: none;
    color: #CC7722;
  }
  header.js-burger-is-active {
    position: absolute;
  }
  #nav-list.js-burger-is-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.25s ease-in;
    transition: -webkit-transform 0.25s ease-in;
    transition: transform 0.25s ease-in;
    transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
  }
  #burger.js-burger-is-active .line1 {
    -webkit-transform: rotate(-45deg) translate(-0.4em, 0.4em);
            transform: rotate(-45deg) translate(-0.4em, 0.4em);
  }
  #burger.js-burger-is-active .line2 {
    opacity: 0;
  }
  #burger.js-burger-is-active .line3 {
    -webkit-transform: rotate(45deg) translate(-0.4em, -0.4em);
            transform: rotate(45deg) translate(-0.4em, -0.4em);
  }
}

@media screen and (max-width: 480px) {
  header nav #logo h1 a {
    font-size: 0.6875rem;
  }
  header nav #nav-list {
    width: 100%;
    min-width: auto;
  }
}

@media screen and (max-width: 360px) {
  header nav #logo h1 a {
    font-size: 0.625rem;
  }
}

#hero {
  text-align: center;
  position: relative;
}

#hero h2 {
  z-index: 1;
  text-align: left;
  padding: 0.125em 0.375em;
  font-size: 0.75rem;
  color: black;
  background: #ffc701;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
  position: absolute;
  font-style: italic;
  top: 0;
  left: 0;
  border-radius: 0 0 0.75em 0;
}

#hero a.slider-nav {
  position: absolute;
  top: 40%;
  z-index: 1;
  height: 50px;
  width: 45px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#hero a.slider-nav#prev {
  left: 0;
  background-image: url("../../assets/widgets/arrow_left_white.svg");
}

#hero a.slider-nav#next {
  right: 0;
  background-image: url("../../assets/widgets/arrow_right_white.svg");
}

#hero a.slider-nav#prev:hover {
  background-color: white;
  background-image: url("../../assets/widgets/arrow_left.svg");
}

#hero a.slider-nav#next:hover {
  background-color: white;
  background-image: url("../../assets/widgets/arrow_right.svg");
}

#hero .slider .slided img {
  width: 100%;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero .slider .slided p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25em 0.5em;
  border: 0px solid black;
  border-radius: 0 0 0 0.5em;
  background: #808080;
  font-size: 0.75rem;
  font-style: italic;
  color: #e2e2e2;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
  display: none;
}

#hero .slider .slided.hidden {
  display: none;
}

@media screen and (min-width: 480px) {
  #hero h2 {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 600px) {
  a.slider-nav {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 960px) {
  #hero h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1050px) {
  #hero .slider .slided p {
    font-size: 1.3125rem;
    display: block;
  }
}

@media screen and (min-width: 1300px) {
  #hero .slider .slided p {
    font-size: 1.5rem;
  }
}

/* ==================================
KÖZÖS
================================== */
main {
  padding: 2em 0;
  margin-top: auto;
}

main section {
  line-height: 1.375em;
  background: #f5f5f5;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 2em;
}

main section h2 {
  background: none;
  padding: 0.5em;
  border-radius: 0.375em;
}

main section h2 + div {
  margin-top: 2em;
}

main section p {
  padding: 0.5em;
}

main section ul {
  margin-left: 2.25em;
}

main .text-indent::first-line {
  text-indent: 1em;
}

@media screen and (min-width: 900px) {
  section:first-child h2 {
    position: absolute;
    left: 0;
    top: 60px;
    border-radius: 0 0 0.375em 0;
    font-size: 1.5rem;
    font-style: italic;
    color: black;
    background: #ffc701;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
  }
}

#szeles_sav img {
  width: 100%;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.iframe-container {
  position: relative;
  width: 100%;
}

.iframe-container.video {
  max-width: 500px;
  margin: 1.5em auto;
  height: 360px;
}

.iframe-container.map {
  height: 450px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

#ajanlott-szakirodalom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 1em;
}

#ajanlott-szakirodalom li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20em;
  text-align: center;
  margin-bottom: 2em;
}

#ajanlott-szakirodalom li p {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
}

#ajanlott-szakirodalom li img {
  width: 100%;
  border-radius: 0 0.5em 0.5em 0;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.5);
}

#ajanlott-szakirodalom li:last-child {
  margin-bottom: auto;
}

@media screen and (min-width: 870px) {
  #ajanlott-szakirodalom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #ajanlott-szakirodalom li {
    margin-left: 1em;
    margin-right: 1em;
  }
  #ajanlott-szakirodalom li img {
    height: 30em;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* ==================================
"ALEXANDER-TECHNIKA" OLDAL
================================== */
#hires-novendekek p::first-line {
  text-indent: 0;
}

#hires-novendekek ul {
  margin: 0em;
  list-style: none;
}

#hires-novendekek .szakma-felsorolas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hires-novendekek .szakma-felsorolas li {
  margin-bottom: 0.5em;
  padding: 1em;
  border: 3px solid none;
  border-radius: 1em;
}

#hires-novendekek .hiresseg-felsorolas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#hires-novendekek .hiresseg-felsorolas li {
  width: 5em;
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
}

#hires-novendekek .hiresseg-felsorolas li p {
  text-align: center;
}

#hires-novendekek .hiresseg-felsorolas li img {
  width: 5em;
  border-radius: 1em;
}

/* ==================================
"RÓLAM" OLDAL
================================== */
#diploma {
  width: 100%;
}

#rolam-arckep-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

#onarckep {
  text-align: center;
}

#onarckep img {
  width: 90%;
  max-width: 22em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.75em;
}

#ate-logo {
  margin-top: 0.5em;
}

@media screen and (min-width: 500px) {
  #rolam-arckep-logo-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  #rolam-arckep-logo-container {
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #onarckep {
    position: absolute;
    margin-top: 2em;
    width: 16em;
    left: calc(50vw - 24em - 16em - 2px);
  }
  #ate-logo {
    position: absolute;
    margin-top: 2em;
    left: calc(50vw + 24em + 2px);
  }
}

#velemenyek div {
  border-radius: 0.75em;
  width: 90%;
  margin: 1.5em auto;
  padding: 0.25em 1.25em;
}

#velemenyek div blockquote {
  position: relative;
}

#velemenyek div blockquote p,
#velemenyek div p {
  text-align: center;
}

#velemenyek div blockquote + p {
  color: #EB9605;
  letter-spacing: 1px;
}

#velemenyek hr {
  background: #EB9605;
  height: 3px;
  width: 80%;
  margin: auto;
}

#velemenyek blockquote:before,
#velemenyek blockquote:after {
  position: absolute;
}

#velemenyek blockquote:before {
  content: '';
  background-image: url("../../assets/widgets/quote-left-solid.svg");
  background-size: 1.675rem;
  height: 1.675rem;
  width: 1.675rem;
  top: 0.375em;
  right: 100%;
  margin-right: 1.5em;
}

#velemenyek blockquote:after {
  content: '';
  background-image: url("../../assets/widgets/quote-right-solid.svg");
  background-size: 1.675rem;
  height: 1.675rem;
  width: 1.675rem;
  top: auto;
  bottom: 0.375em;
  left: 100%;
  margin-left: 1.5em;
}

/* ==================================
"HIREK" OLDAL
================================== */
#hirek ul {
  margin-top: 1em;
}

#hirek img {
  width: 75%;
  display: block;
  margin: 1.5em auto;
  border-radius: 0.5em;
  -webkit-box-shadow: 5px 5px 10px gray;
          box-shadow: 5px 5px 10px gray;
}

/* ==================================
"KAPCSOLAT" OLDAL
================================== */
.kapcsolat {
  margin-left: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.kapcsolat img {
  height: 1.75em;
  margin-right: 1em;
}

.kapcsolat a {
  color: inherit;
}

.kapcsolat a:hover {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.kapcsolat p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#social-side {
  position: fixed;
  top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#social-side a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 0.375em;
  text-decoration: none;
}

#social-side i {
  font-size: 0.875rem;
  width: 2.25em;
  padding: 0.5em;
  color: white;
  background: #808080;
  border-bottom-right-radius: 0.5em;
}

#social-side i:hover {
  color: #ffc701;
}

@media screen and (min-width: 660px) {
  #social-side {
    top: 150px;
  }
  #social-side i {
    font-size: 1rem;
  }
}

footer {
  border-top: 1px solid #afafaf;
  color: #e2e2e2;
  background: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

footer .container .footer-section {
  width: 100%;
  margin-bottom: 2.5em;
  font-size: 0.875rem;
}

footer .container .footer-section p {
  max-width: 600px;
}

footer .container .footer-section .footer-section-title {
  text-transform: uppercase;
  font-size: 1.125rem;
  padding-bottom: 0.5em;
}

footer .container .footer-section .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75em;
}

footer .container .footer-section .contact-info img {
  height: 1.75em;
  margin-right: 0.75em;
  -webkit-filter: invert(94%) sepia(0%) saturate(886%) hue-rotate(33deg) brightness(116%) contrast(77%);
          filter: invert(94%) sepia(0%) saturate(886%) hue-rotate(33deg) brightness(116%) contrast(77%);
}

footer .container .footer-section .contact-info a {
  color: inherit;
}

footer .container .footer-section .contact-info a:hover {
  color: white;
}

footer .container .footer-section:last-child {
  margin-bottom: 0em;
}

footer #copyright-container {
  border-top: 1px solid #afafaf;
  background: black;
  color: #636363;
  padding: 1.25em;
  font-size: 0.625rem;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  footer #copyright-container {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 950px) {
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .footer-section {
    padding: 1.5em;
  }
  footer .container .footer-section:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
  footer .short-text p {
    text-align: left;
  }
}

#kepek .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 180px;
  grid-auto-flow: dense;
  gap: 3px;
}

#kepek .close {
  color: black;
  border: 1px solid black;
  cursor: pointer;
  padding: 0.25em 0.5em;
  margin-bottom: 6px;
  float: right;
  display: none;
}

#kepek .item {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  cursor: pointer;
}

#kepek .item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#kepek .item__overlay {
  background: #ffc80020;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#kepek .item:hover .item__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#kepek .item.v2 {
  grid-row: span 2;
}

#kepek .item.v3 {
  grid-row: span 3;
}

#kepek .item.v4 {
  grid-row: span 4;
}

#kepek .item.h2 {
  grid-column: span 2;
}

#kepek .item.h3 {
  grid-column: span 3;
}

#kepek .item.h4 {
  grid-column: span 4;
}

#kepek .overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
  cursor: pointer;
}

#kepek .overlay .overlay-inner {
  background: white;
  padding: 20px;
  height: 95vh;
}

#kepek .overlay .overlay-inner img {
  max-width: 100%;
  max-height: 100%;
}

#kepek .overlay.open {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::-moz-selection {
  background: #ffc701;
  color: black;
}

*::selection {
  background: #ffc701;
  color: black;
}

.text-left * {
  text-align: left;
}

.container {
  width: 90%;
  max-width: 48em;
  margin: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  background: #ffffff;
}

p {
  text-align: justify;
  text-justify: auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: #EB9605;
}
/*# sourceMappingURL=styles.css.map */