@charset "UTF-8";
header {
  background: rgba(255, 255, 255, 0.95);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

header * {
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

header nav .logo {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  height: 100%;
}

header nav .logo h1 a {
  text-decoration: none;
  vertical-align: middle;
  color: #555555;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
}

header nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav .nav-list li {
  margin-left: 1.25em;
}

header nav .nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555555;
  padding: 0.75em 0;
  font-size: 0.9375rem;
}

header nav .nav-list a:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #555555;
}

header nav .nav-list a.active {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #555555;
  pointer-events: none;
}

header nav .burger {
  display: none;
  background: #555555;
  border-radius: 0.25em;
  cursor: pointer;
}

header nav .burger div {
  background: #e2e2e2;
  width: 1.75em;
  height: 0.25em;
  margin: 0.375em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media screen and (max-width: 1150px) {
  header nav .logo h1 a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  body {
    overflow-x: hidden;
  }
  header nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: 60px;
    background: rgba(255, 255, 255, 0.95);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    min-width: 25%;
  }
  header nav .nav-list li {
    margin: 1em 1.5em;
    text-align: center;
    opacity: 0;
  }
  header nav .nav-list a {
    font-size: 1rem;
  }
  header nav .burger {
    display: block;
  }
  header nav .js-burger-is-active .line1 {
    -webkit-transform: rotate(-45deg) translate(-0.375em, 0.375em);
            transform: rotate(-45deg) translate(-0.375em, 0.375em);
  }
  header nav .js-burger-is-active .line2 {
    opacity: 0;
  }
  header nav .js-burger-is-active .line3 {
    -webkit-transform: rotate(45deg) translate(-0.375em, -0.375em);
            transform: rotate(45deg) translate(-0.375em, -0.375em);
  }
  header nav .js-nav-list-is-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.25s ease-in;
    transition: -webkit-transform 0.25s ease-in;
    transition: transform 0.25s ease-in;
    transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
  }
  @-webkit-keyframes js-nav-links-appear {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes js-nav-links-appear {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

@media screen and (max-width: 460px) {
  header nav .logo h1 a {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 360px) {
  header nav .logo h1 a {
    font-size: 0.625rem;
  }
}

#hero {
  text-align: center;
}

#hero .slider {
  margin: auto;
  height: 100%;
}

#hero img {
  width: 100%;
}

#hero h2 {
  position: absolute;
  top: 60px;
  text-align: left;
  padding: 0.125em 0.375em;
  border-radius: 0 0 0.75em 0;
  font-size: 0.75rem;
  font-style: italic;
  color: black;
  background: #ffc701;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
}

#hero button {
  position: fixed;
  top: 60px;
  right: 0px;
  padding: 0.25em 0.5em;
  border: 0px solid black;
  border-radius: 0 0 0 0.5em;
  background: #808080;
  font-size: 0.875rem;
  color: #e2e2e2;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#hero button:hover {
  color: #ffc701;
}

@media screen and (min-width: 480px) {
  #hero h2 {
    font-size: 2.5vw;
  }
  #hero button {
    font-size: 2.92vw;
  }
}

@media screen and (min-width: 960px) {
  #hero h2 {
    font-size: 1.5rem;
  }
  #hero button {
    font-size: 1.75rem;
  }
}

/* ==================================
KÖZÖS
================================== */
main {
  padding: 2em 0;
  margin-top: auto;
}

main section {
  line-height: 1.375em;
  background: #f5f5f5;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 2em;
}

main section h2 {
  background: none;
  padding: 0.5em;
  border-radius: 0.375em;
}

main section h2 + div {
  margin-top: 2em;
}

main section p {
  padding: 0.5em;
}

main section ul {
  margin-left: 2.25em;
}

main .text-indent::first-line {
  text-indent: 1em;
}

@media screen and (min-width: 900px) {
  section:first-child h2 {
    position: absolute;
    left: 0;
    top: 60px;
    border-radius: 0 0 0.375em 0;
    font-size: 1.5rem;
    font-style: italic;
    color: black;
    background: #ffc701;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
  }
}

#szeles_sav img {
  width: 100%;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.iframe-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 1.5em auto;
  height: 360px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

/* ==================================
"ALEXANDER-TECHNIKA" OLDAL
================================== */
#hires-novendekek p::first-line {
  text-indent: 0;
}

#hires-novendekek ul {
  margin: 0em;
  list-style: none;
}

#hires-novendekek .szakma-felsorolas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hires-novendekek .szakma-felsorolas li {
  margin-bottom: 0.5em;
  padding: 1em;
  border: 3px solid none;
  border-radius: 1em;
}

#hires-novendekek .hiresseg-felsorolas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#hires-novendekek .hiresseg-felsorolas li {
  width: 5em;
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
}

#hires-novendekek .hiresseg-felsorolas li p {
  text-align: center;
}

#hires-novendekek .hiresseg-felsorolas li img {
  width: 5em;
  border-radius: 1em;
}

/* ==================================
"RÓLAM" OLDAL
================================== */
#diploma {
  width: 100%;
}

#rolam-arckep-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

#onarckep {
  text-align: center;
}

#onarckep img {
  width: 90%;
  max-width: 22em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.75em;
}

#ate-logo {
  margin-top: 0.5em;
}

@media screen and (min-width: 500px) {
  #rolam-arckep-logo-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  #rolam-arckep-logo-container {
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #onarckep {
    position: absolute;
    margin-top: 2em;
    width: 16em;
    left: calc(50vw - 24em - 16em - 2px);
  }
  #ate-logo {
    position: absolute;
    margin-top: 2em;
    left: calc(50vw + 24em + 2px);
  }
}

/* ==================================
"KAPCSOLAT" OLDAL
================================== */
.kapcsolat {
  margin-left: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.kapcsolat img {
  height: 1.75em;
  margin-right: 1em;
}

.kapcsolat a {
  color: inherit;
}

.kapcsolat a:hover {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.kapcsolat p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#social-side {
  position: fixed;
  top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#social-side a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 0.375em;
  text-decoration: none;
}

#social-side i {
  font-size: 0.875rem;
  width: 2.25em;
  padding: 0.5em;
  color: white;
  background: #808080;
  border-bottom-right-radius: 0.5em;
}

#social-side i:hover {
  color: #ffc701;
}

@media screen and (min-width: 660px) {
  #social-side {
    top: 150px;
  }
  #social-side i {
    font-size: 1rem;
  }
}

footer {
  border-top: 1px solid #afafaf;
  color: #e2e2e2;
  background: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

footer .container .footer-section {
  width: 100%;
  margin-bottom: 2.5em;
  font-size: 0.875rem;
}

footer .container .footer-section p {
  max-width: 600px;
}

footer .container .footer-section .footer-section-title {
  text-transform: uppercase;
  font-size: 1.125rem;
  padding-bottom: 0.5em;
}

footer .container .footer-section .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75em;
}

footer .container .footer-section .contact-info img {
  height: 1.75em;
  margin-right: 0.75em;
  -webkit-filter: invert(94%) sepia(0%) saturate(886%) hue-rotate(33deg) brightness(116%) contrast(77%);
          filter: invert(94%) sepia(0%) saturate(886%) hue-rotate(33deg) brightness(116%) contrast(77%);
}

footer .container .footer-section .contact-info a {
  color: inherit;
}

footer .container .footer-section .contact-info a:hover {
  color: white;
}

footer .container .footer-section:last-child {
  margin-bottom: 0em;
}

footer #copyright-container {
  border-top: 1px solid #afafaf;
  background: black;
  color: #636363;
  padding: 1.25em;
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media screen and (min-width: 950px) {
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .footer-section {
    padding: 1.5em;
  }
  footer .container .footer-section:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
  footer .short-text p {
    text-align: left;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::-moz-selection {
  background: #ffc701;
  color: black;
}

*::selection {
  background: #ffc701;
  color: black;
}

.container {
  width: 90%;
  max-width: 48em;
  margin: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  background: #ffffff;
}

p {
  text-align: justify;
  text-justify: auto;
}
/*# sourceMappingURL=styles.css.map */