header {
  background: #ffffff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.75em;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header * {
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.75em;
}

header nav .logo {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  height: 100%;
}

header nav .logo h1 a {
  text-decoration: none;
  vertical-align: middle;
  color: #555555;
  font-size: 1.25rem;
  font-family: "Kaushan Script", cursive;
}

header nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav .nav-list li {
  margin-left: 1.25em;
}

header nav .nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555555;
  padding: 0.75em 0;
  font-size: 0.9375rem;
}

header nav .nav-list a:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #555555;
}

header nav .nav-list a.active {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #555555;
  pointer-events: none;
}

header nav .burger {
  display: none;
  background: #555555;
  border-radius: 0.25em;
  cursor: pointer;
}

header nav .burger div {
  background: #e2e2e2;
  width: 1.75em;
  height: 0.25em;
  margin: 0.375em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media screen and (max-width: 1150px) {
  header nav .logo h1 a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  body {
    overflow-x: hidden;
  }
  header nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: 3.75em;
    background: #ffffff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    min-width: 25%;
  }
  header nav .nav-list li {
    margin: 1em 1.5em;
    text-align: center;
    opacity: 0;
  }
  header nav .nav-list a {
    font-size: 1rem;
  }
  header nav .burger {
    display: block;
  }
  header nav .js-burger-is-active .line1 {
    -webkit-transform: rotate(-45deg) translate(-0.375em, 0.375em);
            transform: rotate(-45deg) translate(-0.375em, 0.375em);
  }
  header nav .js-burger-is-active .line2 {
    opacity: 0;
  }
  header nav .js-burger-is-active .line3 {
    -webkit-transform: rotate(45deg) translate(-0.375em, -0.375em);
            transform: rotate(45deg) translate(-0.375em, -0.375em);
  }
  header nav .js-nav-list-is-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.25s ease-in;
    transition: -webkit-transform 0.25s ease-in;
    transition: transform 0.25s ease-in;
    transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
  }
  @-webkit-keyframes js-nav-links-appear {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes js-nav-links-appear {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

#hero {
  background: radial-gradient(white, white, #fef0d7);
  text-align: center;
}

#hero .slider {
  margin: auto;
  height: 100%;
}

#hero img {
  width: 100%;
}

main {
  padding: 2em 0;
  margin-top: auto;
}

main section {
  line-height: 1.375em;
  margin-bottom: 2em;
}

main section h2 {
  background: none;
  padding: 0.5em;
  border-radius: 0.375em;
}

main section p {
  padding: 0.5em;
}

main section ul {
  margin-left: 2.25em;
}

main .text-indent::first-line {
  text-indent: 1em;
}

#hires-novendekek p::first-line {
  text-indent: 0;
}

#hires-novendekek ul {
  margin: 0em;
  list-style: none;
}

#hires-novendekek .szakma-felsorolas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hires-novendekek .szakma-felsorolas li {
  margin-bottom: 0.5em;
  padding: 1em;
  border: 3px solid none;
  border-radius: 1em;
}

#hires-novendekek .hiresseg-felsorolas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hires-novendekek .hiresseg-felsorolas li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
}

#hires-novendekek .hiresseg-felsorolas li p {
  text-align: center;
}

#hires-novendekek .hiresseg-felsorolas li img {
  width: 5em;
  border-radius: 0.5em;
}

#img-rolam {
  width: 100%;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  margin-top: 2em;
}

#social-side {
  display: none;
}

@media screen and (min-width: 950px) {
  #social-side {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #social-side a {
    height: 3.5em;
  }
  #social-side img {
    height: 3.5em;
    padding: 0.5em;
  }
  #social-side img:hover {
    padding: 0.25em;
  }
}

footer {
  margin-top: auto;
  border-top: 1px solid #afafaf;
  color: #e2e2e2;
  background: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

footer .container .footer-section {
  width: 100%;
  margin-bottom: 2.5em;
  font-size: 0.875rem;
}

footer .container .footer-section p {
  max-width: 600px;
}

footer .container .footer-section .footer-section-title {
  text-transform: uppercase;
  font-size: 1.125rem;
  padding-bottom: 0.5em;
}

footer .container .footer-section .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75em;
}

footer .container .footer-section .contact-info img {
  height: 1.75em;
  margin-right: 0.75em;
  -webkit-filter: invert(94%) sepia(0%) saturate(886%) hue-rotate(33deg) brightness(116%) contrast(77%);
          filter: invert(94%) sepia(0%) saturate(886%) hue-rotate(33deg) brightness(116%) contrast(77%);
}

footer .container .footer-section .contact-info a {
  color: inherit;
}

footer .container .footer-section .contact-info a:hover {
  color: white;
}

footer .container .footer-section:last-child {
  margin-bottom: 0em;
}

footer #copyright-container {
  border-top: 1px solid #afafaf;
  background: black;
  color: #636363;
  padding: 1.25em;
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media screen and (min-width: 950px) {
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container p {
    text-align: left;
  }
  footer .container .footer-section {
    padding: 1.5em;
  }
  footer .container .footer-section:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::-moz-selection {
  background: yellow;
  color: black;
}

*::selection {
  background: yellow;
  color: black;
}

.container {
  width: 90%;
  max-width: 48em;
  margin: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 3.75em);
  margin-top: 3.75em;
  background: #ffffff;
}

p {
  text-align: justify;
  text-justify: auto;
}

@media screen and (max-width: 630px) {
  html {
    font-size: 85%;
  }
}
/*# sourceMappingURL=styles.css.map */