@import './settings/config';
@import './components/header';
@import './components/hero';
@import './components/main';
@import './components/social_side';
@import './components/footer';


// GENERAL:
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family--general;
    &::selection {
        background: #ffc701;
        color: black;
    }
}

.container {
    width: 90%;
    max-width: $max-page-width;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: $body-min-height;
    margin-top: $header-height;
    background: $body-bg-color;
}

p {
    text-align: justify;
    text-justify: auto;
}

@media screen and (max-width: 630px) {
    html {
        font-size: 85%;
    }
}
