@import './settings/config';
@import './components/header';
@import './components/hero';
@import './components/main';
@import './components/social_side';
@import './components/footer';
@import './components/gallery';


// GENERAL:
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family--general;
    &::selection {
        background: $color--supernova;
        color: black;
    }
}

.text-left * {
    text-align: left;
}

.container {
    width: 90%;
    max-width: $max-page-width;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: $body-min-height;
    margin-top: $header-height;
    background: $body-bg-color;
}

p {
    text-align: justify;
    text-justify: auto;
}

a {
    text-decoration: none;
    &:visited {
        color: $color--honey;
    }
}
