//=====================================================
// COLORS (names from "Name that color"):
// https://graf1x.com/shades-of-orange-color-palette/
// http://chir.ag/projects/name-that-color/
//=====================================================
$color--mercury: #e2e2e2;
$color--white: #ffffff;
$color--gorse: #FFF14F;
$color--ochre: #CC7722;
$color--honey: #EB9605;
$color--anzac: #E2BA4B;
$color--colonial: #fdf2d7;
$color--golden-dream: #F4D72E;
// DO NOT USE THESE COLORS OUTSIDE THIS FILE! ONLY USE THEM TO SET PUBLIC COLORS INSIDE THIS FILE.


//=====================================================
// GENERAL:
//=====================================================
$max-page-width: 850px;


//=====================================================
// TYPOGRAPHY:
//=====================================================
$font-family--general: 'Poppins', sans-serif;
$font-family--header: 'Handlee', cursive;


//=====================================================
// HEADER:
//=====================================================
$header-height: 3.75em;

$header-bg-color: $color--golden-dream;
// $header-bg-color: linear-gradient(to right, $color--honey, lighten($color--honey, 20%));
// $header-bg-color: radial-gradient(lighten($color--honey, 25%), lighten($color--honey, 10%), $color--honey);
$header-color: $color--white;
$header-text-shadow: 1px 1px 5px black;

$logo-color: $color--white;
$logo-text-shadow: 1px 1px 10px black;
$burger-bg-color: lighten($color--ochre, 5%);
$burger-color: $color--mercury;


//=====================================================
// HERO:
//=====================================================
$hero-bg-color: radial-gradient(lighten($color--honey, 70%), lighten($color--honey, 55%), lighten($color--honey, 45%));
$hero-border-color: $color--gorse;


//=====================================================
// FOOTER:
//=====================================================
$footer-base-color: darken($color--anzac, 30%);

// $footer-bg-color: radial-gradient(lighten($footer-base-color, 15%), $footer-base-color, darken($footer-base-color, 20%));
$footer-bg-color: linear-gradient(to right, rgba(darken($footer-base-color, 20%), 0.92), rgba($footer-base-color, 0.92)), url("../images/landscape/img_7.jpg");
$footer-color: lighten($color--anzac, 10%);

$copyright-border-top-color: lighten($footer-base-color, 50%);
$copyright-bg-color: darken($footer-base-color, 20%);
$copyright-color: $footer-base-color;
