//=====================================================
// COLORS (names from "Name that color"):
// https://graf1x.com/shades-of-orange-color-palette/
// http://chir.ag/projects/name-that-color/
//=====================================================
$color--mercury: #e2e2e2;
$color--emperor: #555555;
$color--white: #ffffff;
$color--gorse: #FFF14F;
$color--ochre: #CC7722;
$color--honey: #EB9605;
$color--anzac: #E2BA4B;
$color--colonial: #fdf2d7;
$color--golden-dream: #F4D72E;
$color--barley-white: #fff4ce;
$color--mine-shaft: #2f2f2f;
// DO NOT USE THESE COLORS OUTSIDE THIS FILE! ONLY USE THEM TO SET PUBLIC COLORS INSIDE THIS FILE.


//=====================================================
// GENERAL:
//=====================================================
$max-page-width: 48em;
$body-bg-color: $color--white;
$h2-bg-color: none;


//=====================================================
// TYPOGRAPHY:
//=====================================================
$font-family--general: 'Poppins', sans-serif;
$font-family--header: 'Poppins', sans-serif;
$font-family-logo: 'Kaushan Script', cursive;


//=====================================================
// HEADER:
//=====================================================
$header-height: 3.75em;
$body-min-height: calc(100vh - 3.75em);  // note: Sass doesn't appear to support calc with variables

$header-bg-color: $color--white;
// $header-bg-color: linear-gradient(to right, $color--honey, lighten($color--honey, 20%));
// $header-bg-color: radial-gradient(lighten($color--honey, 25%), lighten($color--honey, 10%), $color--honey);
$header-color: $color--emperor;
$header-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

$logo-color: $color--emperor;
$logo-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
$burger-bg-color: $color--emperor;
$burger-color: $color--mercury;


//=====================================================
// HERO:
//=====================================================
$hero-bg-color: radial-gradient(lighten($color--honey, 70%), lighten($color--honey, 55%), lighten($color--honey, 45%));


//=====================================================
// FOOTER:
//=====================================================
$footer-base-color: $color--mine-shaft;

// $footer-bg-color: radial-gradient(lighten($footer-base-color, 10%), $footer-base-color, darken($footer-base-color, 10%));
$footer-bg-color: $footer-base-color;
$footer-color: $color--mercury;

$copyright-border-top-color: lighten($footer-base-color, 50%);
$copyright-bg-color: darken($footer-base-color, 20%);
$copyright-color: darken($footer-color, 50%);
