footer {
    // margin-top: auto;
    // min-height: calc(100vh - (60px + 54.5vw));  // note: Sass doesn't appear to support calc with variables (had to hard-code header height)
    border-top: 1px solid $copyright-border-top-color;
    color: $footer-color;
    background: $footer-bg-color;
    display: flex;
    flex-direction: column;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        .footer-section {
            width: 100%;
            margin-bottom: 2.5em;
            font-size: 0.875rem;
            p {
                max-width: 600px;
            }
            .footer-section-title {
                text-transform: uppercase;
                font-size: 1.125rem;
                padding-bottom: 0.5em;
            }
            .contact-info {
                display: flex;
                align-items: center;
                margin-bottom: 0.75em;
                img {
                    height: 1.75em;
                    margin-right: 0.75em;
                    // Link: https://codepen.io/sosuke/pen/Pjoqqp (CodePen Home CSS filter generator to convert from black to target hex color)
                    filter: invert(94%) sepia(0%) saturate(886%) hue-rotate(33deg) brightness(116%) contrast(77%);
                }
                a {
                    color: inherit;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        .footer-section:last-child {
            margin-bottom: 0em;
        }
    }
    #copyright-container {
        border-top: 1px solid $copyright-border-top-color;
        background: $copyright-bg-color;
        color: $copyright-color;
        padding: 1.25em;
        font-size: 0.75rem;
        text-transform: uppercase;
    }
}


@media screen and (min-width: 950px) {
    footer {
        .container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            .footer-section {
                padding: 1.5em;
            }
            .footer-section:first-child {
                flex: 0 0 65%;
            }
        }
        .short-text {
            p {
                text-align: left;
            }
        }
    }
}
