header {
    background: $header-bg-color;
    text-shadow: $header-text-shadow;
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    * {
        font-family: $font-family--header;
        user-select: none;
    }
    nav {
        margin: 0 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: $header-height;
        #logo {
            text-shadow: $logo-text-shadow;
            text-transform: uppercase;
            height: 100%;
            h1 a {
                text-decoration: none;
                vertical-align: middle;
                color: $logo-color;
                font-size: 1.25rem;
                font-family: $font-family-logo;
            }
        }
        ul {
            list-style: none;
        }
        #nav-list {
            display: flex;
            .sub-list-nested {
                display: none;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            }
            & > li {
                margin-left: 1.25em;
                &:hover {
                    .sub-list-nested {
                        display: block;
                        background-color: $header-bg-color;
                        position: absolute;
                        animation: fadein 0.4s;
                        @keyframes fadein {
                            0% {opacity: 0;}
                            100% {opacity: 1;}
                        }
                        li {
                            margin: 1.5em;
                        }
                        a {
                            padding: 0;
                        }
                    }
                }
            }
            .nav-item-not-clickable {
                pointer-events: none;
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $header-color;
                padding: 0.75em 0;
                font-size: 0.9375rem;
                &:hover {
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
                    border-bottom: 2px solid $header-color;
                }
                &.active {
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
                    border-bottom: 2px solid $header-color;
                    pointer-events: none;
                }
            }
        }
        #burger {
            display: none;
            background: $burger-bg-color;
            border-radius: 0.25em;
            cursor: pointer;
            div {
                background: $burger-color;
                width: 1.75em;
                height: 0.25em;
                margin: 0.375em;
                transition: all 0.1s ease;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    header nav #logo h1 a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1050px) {
    body {
        overflow-x: hidden;
    }
    header nav {
        #burger {
            display: block;
        }
        ul {
            text-align: center;
        }
        #nav-list {
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            flex-direction: column;
            width: 50%;
            min-width: 20em;
            position: absolute;
            top: $header-height;
            right: 0;
            transform: translateX(100%);
            li {
                margin: 0.75em 1.5em;
            }
            a {
                font-size: 1rem;
                padding: 0;
            }
            & > li > a {
                letter-spacing: 4px;
                font-weight: 600;
            }
            & > li:hover {
                .sub-list-nested {
                    position: relative;
                    animation: none;
                    li {
                        margin: 0.75em 1.5em;
                    }
                }
            }
            .sub-list-nested {
                display: block;
                box-shadow: none;
                a {
                    text-transform: none;
                    color: $color--ochre;
                }
            }
        }
    }
    // Toggle burger (class toggled by JavaScript):
    header.js-burger-is-active {
        position: absolute;
    }
    #nav-list.js-burger-is-active {
        transform: translateX(0%);
        transition: transform 0.25s ease-in;
    }
    #burger.js-burger-is-active {
        .line1 {
            transform: rotate(-45deg) translate(-0.4em, 0.4em);
        }
        .line2 {
            opacity: 0;
        }
        .line3 {
            transform: rotate(45deg) translate(-0.4em, -0.4em);
        }
    }
}

@media screen and (max-width: 480px) {
    header nav {
        #logo h1 a {
            font-size: 0.6875rem;
        }
        #nav-list {
            width: 100%;
            min-width: auto;
        }
    }
}
@media screen and (max-width: 360px) {
    header nav #logo h1 a {
        font-size: 0.625rem;
    }
}
