header {
    background: $header-bg-color;
    text-shadow: $header-text-shadow;
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    * {
        font-family: $font-family--header;
        user-select: none;
    }
    nav {
        margin: 0 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: $header-height;
        .logo {
            text-shadow: $logo-text-shadow;
            text-transform: uppercase;
            height: 100%;
            h1 a {
                text-decoration: none;
                vertical-align: middle;
                color: $logo-color;
                font-size: 1.25rem;
                font-family: $font-family-logo;
            }
        }
        .nav-list {
            display: flex;
            list-style: none;
            li {
                margin-left: 1.25em;
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $header-color;
                padding: 0.75em 0;
                font-size: 0.9375rem;
                &:hover {
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
                    border-bottom: 2px solid $header-color;
                }
                &.active {
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
                    border-bottom: 2px solid $header-color;
                    pointer-events: none;
                }
            }
        }
        .burger {
            display: none;
            background: $burger-bg-color;
            border-radius: 0.25em;
            cursor: pointer;
            div {
               background: $burger-color;
               width: 1.75em;
               height: 0.25em;
               margin: 0.375em;
               transition: all 0.1s ease;
           }
        }
    }
}

@media screen and (max-width: 1150px) {
    header nav .logo h1 a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1050px) {
    body {
        overflow-x: hidden;
    }
    header nav {
        .nav-list {
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 0;
            top: $header-height;
            background: $header-bg-color;
            transform: translateX(100%);
            min-width: 25%;
            li {
                margin: 1em 1.5em;
                text-align: center;
                opacity: 0;
                // animation: js-nav-links-appear 0.5s ease forwards 1s;
            }
            a {
                font-size: 1rem;
            }
        }
        .burger {
            display: block;
        }

        // JavaScript-only classes:
        .js-burger-is-active {
            .line1 {transform: rotate(-45deg) translate(-0.375em, 0.375em);}
            .line2 {opacity: 0;}
            .line3 {transform: rotate(45deg) translate(-0.375em, -0.375em);}
        }
        .js-nav-list-is-active {
            transform: translateX(0%);
            transition: transform 0.25s ease-in;
        }
        @keyframes js-nav-links-appear {
            from {
                opacity: 0;
                transform: translateX(50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
}

@media screen and (max-width: 550px) {
    header nav .logo h1 a {
        font-size: 0.75rem;
    }
}