#hero {
    text-align: center;
    .slider {
        margin: auto;
        // max-width: $max-page-width;
        height: 100%;
        // position: relative;
    }
    img {
        width: 100%;
    }
    h2 {
        position: absolute;
        top: $header-height;
        text-align: left;
        font-size: 0.75rem;
        padding: 0.125em 0.375em;
        border-radius: 0 0 0.75em 0;
        color: $hero-slogan-color;
        background: $hero-slogan-bg-color;
        text-shadow: -1px 0 rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 0 -1px rgba(0,0,0,0.2);
    }
    button {
        position: fixed;
        top: $header-height;
        right: 0px;
        padding: 0.25em 0.5em;
        border: 0px solid black;
        border-radius: 0 0 0 0.5em;
        background: $hero-button-bg-color;
        font-size: 0.875rem;
        color: $hero-button-color;
        text-shadow: -1px 0 rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 0 -1px rgba(0,0,0,0.2);
        cursor: pointer;
        &:hover {
            color: $color--supernova;
        }
    }
}

@media screen and (min-width: 480px) {
    #hero {
        h2 {font-size: 2.5vw;}
        button {font-size: 2.92vw;}
    }
}
@media screen and (min-width: 960px) {
    #hero {
        h2 {font-size: 1.5rem;}
        button {font-size: 1.75rem;}
    }
}