$hero-height: calc(100vh - 60px);  // "calc(100vh - $header-height)" is not allowed

#hero {
    text-align: center;
    max-height: $hero-height;
    position: relative;
    margin-bottom: 0.5em;
    h2 {
        z-index: 1;
        text-align: left;
        padding: 0.125em 0.375em;
        font-size: 0.75rem;
        color: $hero-slogan-color;
        background: $hero-slogan-bg-color;
        text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2),
            1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
        position: absolute;
        font-style: italic;
        top: 0;
        left: 0;
        border-radius: 0 0 0.75em 0;
    }
    a.slider-nav {
        position: absolute;
        top: 40%;
        z-index: 1;
        height: 50px;
        width: 45px;
        &#prev {
            left: 0;
            background-image: url('../../assets/widgets/arrow_left_white.svg');
        }
        &#next {
            right: 0;
            background-image: url('../../assets/widgets/arrow_right_white.svg');
        }
        &#prev:hover {
            background-color: white;
            background-image: url('../../assets/widgets/arrow_left.svg');
        }
        &#next:hover {
            background-color: white;
            background-image: url('../../assets/widgets/arrow_right.svg');
        }
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .slider .slided {
        max-height: $hero-height;
        overflow: hidden;
        img {
            width: 100%;
            animation: fadein 1s;
        }
        @keyframes fadein {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        p {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.25em 0.5em;
            border: 0px solid black;
            border-radius: 0 0 0 0.5em;
            background: $hero-button-bg-color;
            font-size: 0.75rem;
            font-style: italic;
            color: $hero-button-color;
            text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2),
                1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
            display: none;
        }
        &.hidden {
            display: none;
        }
    }
}

@media screen and (min-width: 480px) {
    #hero {
        h2 {
            font-size: 2.5vw;
        }
    }
}
@media screen and (min-width: 600px) {
    a.slider-nav {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
@media screen and (min-width: 960px) {
    #hero {
        h2 {
            font-size: 1.5rem;
        }
    }
}
@media screen and (min-width: 1050px) {
    #hero .slider .slided p {
        font-size: 1.3125rem;
        display: block;
    }
}
@media screen and (min-width: 1300px) {
    #hero .slider .slided p {
        font-size: 1.5rem;
    }
}
