main {
    padding: 2em 0;
    margin-top: auto;
    section {
        line-height: 1.375em;
        background: #f5f5f5;
        padding: 1em;
        border-radius: 1em;
        h2 {
            background: $h2-bg-color;
            padding: 0.5em;
            border-radius: 0.375em;
        }
        h2 + div {
            margin-top: 2em;
        }
        p {
            padding: 0.5em;
        }
        margin-bottom: 2em;
        ul {
            margin-left: 2.25em;
        }
    }
    .text-indent {
        &::first-line {
            text-indent: 1em;
        }
    }
}


#szeles_sav {
    img {
        width: 100%;
        box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    }
}


#hires-novendekek {
    p::first-line {
        text-indent: 0;
    }
    ul {
        margin: 0em;
        list-style: none;
    }
    .szakma-felsorolas {
        display: flex;
        flex-direction: column;
        li {
            margin-bottom: 0.5em;
            padding: 1em;
            border: 3px solid $h2-bg-color;
            border-radius: 1em;
        }
    }
    .hiresseg-felsorolas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-end;
            border: none;
            p {
                text-align: center;
            }
            img {
                width: 5em;
                border-radius: 0.5em;
            }
        }
        
    }
}

#img-rolam {
    text-align: center;
    img {
        width: 75%;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        border-radius: 1em;
        margin-top: 2em;
    }
}

.kapcsolat {
    margin-left: 1.25em;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    img {
        height: 1.75em;
        margin-right: 1em;
    }
    a {
        color: inherit;
        &:hover {
            text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
        }
    }
    p {
        display: flex;
        flex-direction: column;
    }
}
