main {
    padding: 2em 0;
    article {
        line-height: 1.375em;
        h2 {
            background: $h2-bg-color;
            padding: 0.5em;
            border-radius: 0.375em;
        }
        p {
            padding: 0.5em;
            &::first-line {
                text-indent: 1em;
            }
        }
        margin-bottom: 2em;
        ul {
            margin-left: 2.25em;
        }
    }
}


#hires-novendekek {
    p::first-line {
        text-indent: 0;
    }
    ul {
        margin: 0em;
        list-style: none;
    }
    .szakma-felsorolas {
        display: flex;
        flex-direction: column;
        li {
            margin-bottom: 0.5em;
            padding: 1em;
            border: 3px solid $h2-bg-color;
            border-radius: 1em;
        }
    }
    .hiresseg-felsorolas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-end;
            border: none;
            p {
                text-align: center;
            }
            img {
                width: 5em;
                border-radius: 0.5em;
            }
        }
        
    }
}
